<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="d-flex justify-content-end">
    <button *ngIf="appService.accounts.length==0" class="btn btn-outline-primary" (click)="connectWallet()"> Connect
      Wallet</button>
    <ng-container *ngIf="appService.accounts.length>0">

      <span style="color: white;"> Account : {{appService.accounts[0]}}</span>
      <i class="fas fa-wallet" style="color: white;"></i>
      <span style="color: white;"> Balance:{{appService.balance}} </span>
    </ng-container>
  </div>
</nav>