<ng-container *ngIf="loading; else app">
  <spinner></spinner>
</ng-container>
<ng-template #app>

  <nav class="navbar navbar-expand-sm bg-dark">

    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <button *ngIf="appService.network.name != 'rinkeby'" class="btn btn-outline-primary"
          (click)="appService.switchNetwork()"> Switch Network</button>
      </li>
      <li class="nav-item">
        <button *ngIf="appService.accounts.length==0" class="btn btn-outline-primary" (click)="connectWallet()"> Connect
          Wallet</button>
      </li>
      <li class="nav-item">
        <ng-container *ngIf="appService.accounts.length>0">
          <span style="color: white;"> {{appService.balance}} </span>
          <i class="fas fa-wallet" style="color: white;"></i>
          <span style="color: white;"> {{ utils.trim(appService.accounts[0],7) }}</span>
          <img height="30" width="30" [src]="appService.imageData">
        </ng-container>
      </li>
    </ul>
  </nav>
  <div class="d-flex justify-content-center">
    <div class="card text-center mt-5" style="width: 18rem; height: 10rem;">
      <div class="card-body">
        <form class="formGroup">
          <div class="form-control">
            <input type="file" id="myFile" name="filename" (change)="handleFileInput($event.target.files)">
          </div>
          <div class="mt-2">
            <button class="btn btn-primary" (click)="upload()" [disabled]="true">
              <i class="fas fa-upload"></i> Upload
            </button>
          </div>

        </form>
      </div>
    </div>
  </div>

</ng-template>